<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>EasyIPFW 1.1a © 2012 Evan Peck and WAMS</string>
	<key>CFBundleIdentifier</key>
	<string>com.partayhats.easyipfw.pkg.EasyIPFW</string>
	<key>CFBundleName</key>
	<string>EasyIPFW</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1a</string>
	<key>IFMajorVersion</key>
	<integer>1</integer>
	<key>IFMinorVersion</key>
	<integer>1</integer>
	<key>IFPkgBuildDate</key>
	<date>2012-08-17T16:57:08Z</date>
	<key>IFPkgBuildVersion</key>
	<string>9L31a</string>
	<key>IFPkgCreator</key>
	<string>IcebergBuilder 1.2.9</string>
	<key>IFPkgFlagAllowBackRev</key>
	<false/>
	<key>IFPkgFlagAuthorizationAction</key>
	<string>RootAuthorization</string>
	<key>IFPkgFlagBackgroundAlignment</key>
	<string>left</string>
	<key>IFPkgFlagBackgroundScaling</key>
	<string>tofit</string>
	<key>IFPkgFlagDefaultLocation</key>
	<string>/</string>
	<key>IFPkgFlagFollowLinks</key>
	<false/>
	<key>IFPkgFlagInstalledSize</key>
	<integer>100</integer>
	<key>IFPkgFlagIsRequired</key>
	<true/>
	<key>IFPkgFlagOverwritePermissions</key>
	<false/>
	<key>IFPkgFlagRelocatable</key>
	<false/>
	<key>IFPkgFlagRestartAction</key>
	<string>RequiredRestart</string>
	<key>IFPkgFlagRootVolumeOnly</key>
	<false/>
	<key>IFPkgFlagUpdateInstalledLanguages</key>
	<false/>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000149011612</real>
	<key>IFRequirementDicts</key>
	<array>
		<dict>
			<key>LabelKey</key>
			<string>IPFW</string>
			<key>Level</key>
			<string>requires</string>
			<key>MessageKey</key>
			<string>messagekey0</string>
			<key>SpecArgument</key>
			<string>/sbin/ipfw</string>
			<key>SpecProperty</key>
			<string>NSFileCreationDate</string>
			<key>SpecType</key>
			<string>file</string>
			<key>TestObject</key>
			<date>1912-05-16T04:54:00Z</date>
			<key>TestOperator</key>
			<string>!=</string>
			<key>TitleKey</key>
			<string>titlekey0</string>
		</dict>
		<dict>
			<key>LabelKey</key>
			<string>No Confliction IPFW Conigurators</string>
			<key>Level</key>
			<string>requires</string>
			<key>MessageKey</key>
			<string>messagekey1</string>
			<key>SpecArgument</key>
			<string>/Library/StartupItems/Firewall/Firewall</string>
			<key>SpecType</key>
			<string>file</string>
			<key>TestObject</key>
			<string></string>
			<key>TestOperator</key>
			<string>=</string>
			<key>TitleKey</key>
			<string>titlekey1</string>
		</dict>
		<dict>
			<key>LabelKey</key>
			<string>Previous SameVersion Installs</string>
			<key>Level</key>
			<string>recommends</string>
			<key>MessageKey</key>
			<string>messagekey2</string>
			<key>SpecArgument</key>
			<string>/Library/EasyIPFW/flags/1-0a</string>
			<key>SpecType</key>
			<string>file</string>
			<key>TestObject</key>
			<string></string>
			<key>TestOperator</key>
			<string>=</string>
			<key>TitleKey</key>
			<string>titlekey2</string>
		</dict>
	</array>
</dict>
</plist>
